# https://docs.docker.com/engine/reference/builder/#dockerignore-file
.git*
.idea
**/*.iml
.mvn
mvnw*
.*yml
.editorconfig
.dockerignore
.settings.xml
LICENSE
docker
docs
**/*.md
**/src/test/**
**/target

# Install script runs within Docker
build-bin/**
!build-bin/maven/maven_unjar
!docker/bin/*

# Allow on-demand "mvn package"
!**/src/main/**
!**/pom.xml

# Ignore if someone downloaded zipkin using curl here
zipkin.jar
