.DS_Store
.classpath
.project
.settings/
target/
*.iml
.idea
zipkin.jar

# We cannot share paths outside the current directory with the Docker context
# (ex via symlinks). So, build-bin/configure_* overrides maven.repo.local
m2repository/
