<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{userName}] [%X{traceId}/%X{spanId}] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ACCESS" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%X{traceId}/%X{spanId}] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.linecorp.armeria.logging.access" level="info" additivity="false">
    <appender-ref ref="ACCESS"/>
  </logger>

  <logger name="com.linecorp.armeria" level="warn"/>
  <logger name="com.linecorp.armeria.server.Server" level="info"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
