# yamllint --format github .github/workflows/deploy.yml
---
name: deploy armeria-kafka

on:
  # We deploy non-tagged pushes to master relevant for this project. We can't opt out of
  # documentation-only commits because GH actions does not permit paths and paths-ignore.
  push:
    tags: ''
    branches: master
    paths:
      - "build-bin/**"
      - "docker/**"
      - "armeria-kafka/**"
      - ".github/workflows/deploy-armeria-kafka.yaml"
      - "parent-pom.xml"

jobs:
  deploy:
    runs-on: ubuntu-22.04  # newest available distribution, aka jellyfish
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ./m2repository  # Shared with the Docker build context via .dockerignore
          key: ${{ runner.os }}-armeria-kafka-maven-${{ hashFiles('parent-pom.xml', 'armeria-kafka/pom.xml') }}
          restore-keys: ${{ runner.os }}-armeria-kafka-maven-
      # Don't attempt to cache Docker. Sensitive information can be stolen
      # via forks, and login session ends up in ~/.docker. This is ok because
      # we publish DOCKER_PARENT_IMAGE to ghcr.io, hence local to the runner.
      - name: Deploy armeria-kafka
        env:
          # GH_USER=<user that created GH_TOKEN>
          GH_USER: ${{ secrets.GH_USER }}
          # GH_TOKEN=<hex token value>
          #   - pushes Docker images to ghcr.io
          #   - create via https://github.com/settings/tokens
          #   - needs repo:status, public_repo, write:packages, delete:packages
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          build-bin/configure_deploy armeria-kafka &&
          build-bin/deploy armeria-kafka
