name: Continuous Build Docker
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-on-linux:
    strategy:
      matrix:
        docker-target: [armeria, webmvc25-jetty, webmvc3-jetty, webmvc4-boot, webmvc4-jetty]
    runs-on: ubuntu-latest
    name: Build and verify Docker images
    steps:
      - name: Install Docker
        uses: docker-practice/actions-setup-docker@master
        with:
          docker_version: 19.03
          docker_buildx: true
      - name: Cache docker
        uses: actions/cache@v1
        with:
          path: ~/.docker
          key: ${{ runner.os }}-docker-${{ hashFiles('**/Dockerfile') }}
          restore-keys: ${{ runner.os }}-docker
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Build Docker image openzipkin/example-brave:${{ matrix.docker-target }}-test
        run: |
          TARGET=${{ matrix.docker-target }}
          DOCKER_BUILDKIT=1 docker build -f docker/Dockerfile \
          -t openzipkin/example-brave:${TARGET}-test \
          --target ${TARGET} --build-arg target=${TARGET} .
      - name: Verify Docker image openzipkin/example-brave:${{ matrix.docker-target }}-test
        run: |
          # This just makes sure containers run and the HEALTHCHECK works (for now..)
          IMAGE=openzipkin/example-brave:${{ matrix.docker-target }}-test
          docker run --rm --name frontend -d ${IMAGE} frontend
          docker run --rm --name backend -d ${IMAGE} backend
          docker/bin/block-on-health frontend || exit 1
          docker/bin/block-on-health backend || exit 1
