# yamllint --format github .github/workflows/test.yml
---
name: test armeria

on:
  # We deploy non-tagged pushes to master relevant for this project. We can't opt out of
  # documentation-only commits because GH actions does not permit paths and paths-ignore.
  pull_request:
    branches: master
    paths:
      - "build-bin/**"
      - "docker/**"
      - "armeria/**"
      - ".github/workflows/test-armeria.yaml"
      - "parent-pom.xml"

jobs:
  test:
    runs-on: ubuntu-24.04  # newest available distribution, aka noble
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ./m2repository  # Shared with the Docker build context via .dockerignore
          key: ${{ runner.os }}-armeria-maven-${{ hashFiles('parent-pom.xml', 'armeria/pom.xml') }}
          restore-keys: ${{ runner.os }}-armeria-maven-
      # Don't attempt to cache Docker. Sensitive information can be stolen
      # via forks, and login session ends up in ~/.docker. This is ok because
      # we publish DOCKER_PARENT_IMAGE to ghcr.io, hence local to the runner.
      - name: Test armeria
        run: |
          build-bin/configure_test armeria &&
          build-bin/test armeria
